<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to 'Sign up now', "#", class: "btn btn-danger btn-lg btn-xlarge" %>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->

</div>
